---
import { Image } from "astro:assets";

import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createCollectionResource } from "@/lib/content/create-resource";
import { getImageImport } from "@/lib/get-image-import";

const page = await createCollectionResource("pages", locale).read("public-lectures");
const publicLectures = await createCollectionResource("publicLectures", locale).all();

const documentTitle = page.data.title;
const { content, image, title } = page.data;
const { default: Content } = await page.compile(content);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageCard image={image}>
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
			<ul class="grid gap-y-12" role="list">
				{
					publicLectures.map((lecture) => {
						const { image, summary, title } = lecture.data;
						const href = `/public-lectures/${lecture.id}`;

						return (
							<li>
								<article class="grid grid-cols-[auto_1fr] gap-x-6">
									{image ? (
										<div class="relative my-2 h-48 w-36 overflow-hidden rounded-md">
											<a aria-hidden="true" href={href} tabindex={-1}>
												<Image
													alt=""
													class="absolute inset-0 size-full object-cover"
													src={getImageImport(image)}
												/>
											</a>
										</div>
									) : null}
									<div class="grid content-start gap-y-2">
										<h2 class="text-xl font-medium text-brand">
											<a href={href} tabindex={-1}>
												{title}
											</a>
										</h2>
										<div class="prose">{summary}</div>
										<a
											aria-label={`Read more about "${title}"`}
											class="inline-flex justify-self-end rounded-md bg-brand px-4 py-1.5 text-sm font-medium text-white transition hover:bg-brand-intent"
											href={href}
										>
											Read more
										</a>
									</div>
								</article>
							</li>
						);
					})
				}
			</ul>
		</PageCard>
	</MainContent>
</PageLayout>
